*{
    font-family: "Courier New",sans-serif;
}
h1{
    font-size: 32px;
    padding: 10px;
    text-align:center;
    border-color: rgb(55, 255, 0);
    border-style: dotted;
    background-color: #d12f65;
    color:rgb(240, 255, 250);
}

body{
    background-color: #43f6ff;
}

p{
    background-color: #2fc9d1;
    color:aliceblue;
}
ul,ol{
    background-color: #35d8e1c4;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#f9ba4e; 
}